/* https://colorhunt.co/palette/4e6e81f9dbbbff03032e3840   ---> Color Theme  */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Rubik&display=swap");
* {
  background-color: #f9dbbb;
  font-family: "Montserrat", sans-serif;
}
img {
  height: 100px;
  width: 150px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 0px auto;
  display: block;
}
label {
  background-color: #3b00002d;
  text-align: center;
  display: block;
  width: 14em;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
form {
  display: block;
  padding: 2%;
}
input {
  background-color: #4e6e81;
  color: black;
  border-radius: 5px;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color: rgba(125, 125, 125, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.header {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-family: "Croissant One", cursive;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #fff;
}
.header img {
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Croissant One", cursive;
  background-size: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  position: fixed;
  transform: translateY(-80px);
}
@media (max-width: 575.98px) {
  .header img {
    display: none;
  }
}
.dropdown-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: -15px;
  padding: 20px 0;
}
.form-group {
  width: 100%;
  padding-left: 40%;
  display: flex;
  justify-content: space-between;
  align-self: auto;
}
.food-pic {
  display: contents;
}
.submit-meal {
  background-color: #3b00002d;
  text-align: center;
  display: block;
  width: 14em;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
#type-of-meal {
  background-color: #3b00002d;
  text-align: center;
  display: block;
  width: 14em;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
